@import './controlers.css';
@import './counters.css';
@import './initiateScreen.css';
@import './storyTelling.css';
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Orbitron', Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    flex-direction: column;
}

#storyPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: space-evenly;
    padding: 1em 2em;
    border: 1em solid rgba(44, 78, 87, 0.727);
    border-radius: 4em;
    background-color:rgba(81, 90, 88, 0.378);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2em 0em 1.5em 0.5em rgba(113, 151, 140, 0.796), -2em 0em 1.5em 0.5em rgba(113, 151, 140, 0.796);
    width: 85vw;
    height: 70vh;
    border-bottom : none;
    border-top : none;
    position: relative;

}

#scenario {
    margin-bottom: 1em;
    margin-top:0.5em
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: space-between;
    width :  70%;
    max-width: 90%;
    background-color: rgba(0, 247, 255, 0.09);
    padding: 10px;
    border-radius: 3em;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0em 0em 0.7em 0.3em rgba(75, 118, 119, 0.576);
    flex-basis: 4em;
    position: absolute;
    top: 4em;
    border: 0.2em solid rgba(131, 228, 255, 0.467);
    color:rgba(0, 247, 255, 0.405)

}

.button-flex-box{
    display: flex;
    justify-content: space-evenly;
    margin-top:1em;
    gap: 1em
    
}

.button {
    background-color:rgba(1, 10, 10, 0.118);
    border: 0.1em solid rgb(0, 247, 255);
    border-radius: 1em;
    transition-timing-function: ease-in-out;
    font-weight: bold;
    color: white;
    margin: 0.5em;
}

.button:hover{
    transform: scale(1.05);
    box-shadow: 0em 0em 0.5em 0.25em rgba(69, 83, 104, 0.576);
}

#startPage,
#scorePage {
    display: none;
}

#finishAdventureButton{
    justify-content: center;
    text-align: center;
}

/* FOOTER CONTROLER*/
footer {
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 15vh;
    position: relative;
    justify-content: center;
    margin-top: 3em;
    align-content: space-between;
    transform: rotateX(30deg);
    border-radius: 4em;
    border: 1em solid rgba(44, 78, 87);
    border-left-width: 0.5em;
    border-right-width: 0.5em;
    border-top-width: 0.1em;
    background-image: linear-gradient(rgb(28, 55, 52), rgb(12, 12, 12), black);
}

#finishAdventureButton{
    justify-content: center;
    text-align: center;
    border-radius:5em;
    margin: 1em 0 2em 0;
    border: 1em solid rgb(69, 90, 95);
    border-left-width: 0.5em;
    border-right-width: 0.5em;
    border-top-width: 0.1em;
    background-image: linear-gradient(rgb(62, 119, 114), rgb(36, 35, 35), black);
    color:rgb(0, 247, 255)
}